*.o
*.a
*.lo
*.la
*.so
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

openobex.pc

ircp/ircp
apps/irxfer
apps/irobex_palm3
apps/obex_tcp
apps/obex_test/obex_test
